* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 3rem 0 2rem;
    
}
main {
    margin: 0 auto;
    width: 520px;
}

fieldset {
    margin: 1rem 0;
    padding: .8rem;

    div {
        margin: 1rem 0;
    }

    input {
        border-radius: 5px;
        padding: .5rem 1rem;

        &:focus {
            background-color: #f2c56482;
        }
    }

    p {
        margin-top: .5rem;
        height: 1rem;
        color: red;
        font-size: .8rem;
    }
}

.personales input {
    margin-top: .5rem;
    width: 100%;
}

.reserva {
    display: flex;
    justify-content: space-between;
    gap: .5rem;

    div {
        width: 100%;
    }
}

input[type="radio"] {
    accent-color: darkgreen;
}

input[type="radio"]:checked + label {
    color: darkgreen;
}

.buttons {
    display: flex;
    justify-content: space-between;

    button {
        padding: .5rem 1rem;
        border-radius: 5px;
    }

    #reservar {
        background-color: darkgreen;
        color: white;
    }

    #cancelar {
        background-color: pink;
    }

}

button:hover {
    cursor: pointer;
}

#ventanaReserva {
    width: 80%;
    margin: auto;
    background-color: ivory;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    text-align: center;

    h2 {
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }

    p {
        font-size: 1.2rem;
        margin: 1rem 0;
        color: gray;
    }

    form {
        border-top: 2px solid black;
        margin-top: 3rem;
    }

    span {
        color: black;
        font-weight: 600;
    }

    button {
        padding: 10px 20px;
        border-radius: 5px;
        margin: 1rem;
        background-color: sandybrown;
        border-color: sandybrown;

        &:hover {
            background-color: #f2c464;
            border-color: #f2c464;

        }
    }
}

